<html>
    <title>Register</title>
    <style>
        body{
            margin-top: 0%;
        }
        table, th, td {
  border: 1px solid black;
  margin-top: -5%;
}
    </style>
    <body>
        <center>
        <table border="2">
            <h1>Login</h1>
        <form method='post'>
            <tr>
                <th colspan="2">Login</th>
            </tr>
            <tr><td>Name</td><td><input type="text" name="user"></td></tr><br><br>
            <tr><td>Password</td><td><input type="password" name="pass"></td></tr><br><br>
            <tr><td colspan="2"><center><input type='submit' name='submit' value='Login'></center></td></tr>
            <tr><td colspan="2"><center><a href="/mail">Send mail</a></center></td></tr>
        </form>
    </table>
</center>
    </body>
</html>